body {
    height: 100vh;
    background-color: rgb(1, 20, 34);
    margin: 0px;
}


#Scrollbar {
    position: relative;
    left: 40%;
    height: 100vh;
    width: 60%;
    background-color: rgb(1, 20, 34);
    overflow: auto;
}

.PreviewTexts {
    color: rgb(255, 255, 255);
    font-family: Arial;
}

.ScrollText {
    color: rgb(255,255,255);
}